.container {
  display: flex;
  width: 50%;
  min-width: var(--logo-size);

  /* background-color: var(--clr-bg-3); */
  padding: 20px;
  justify-content: center;
}

.logo {
  display: flex;
  background: none;
  border: none;
  padding: 0;
  color: #fff;
}

.logo img {
  width: calc(var(--logo-size) * 0.9);
  height: calc(var(--logo-size) * 0.9);
  background-color: #fff;
  border-radius: 50%;
}

.logoMobile {
  cursor: pointer;
}
