.logo {
  display: flex;
  width: var(--logo-size);
  height: var(--logo-size);
  background: none;
  border: none;
  padding: 0;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 90%;
  height: 90%;
  background-color: #fff;
  border-radius: 50%;
}

.logoMobile {
  cursor: pointer;
}
