.header {
  display: flex;
  width: 100%;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: var(--clr-bg-3);
  color: var(--clr-bg-1);
  transition: all 0.3s ease;
}

.logoContainer {
  display: flex;
  width: 50%;
  min-width: var(--logo-size);
  justify-content: center;
  align-items: center;
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerMobile {
  background-color: transparent;
}
