.splashScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.logo img {
  height: 500px;
  width: 500px;
  border-radius: unset;
  animation: zoom 1.5s;
}

@keyframes zoom {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
