.footer {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  background-color: var(--clr-bg-3);
  color: var(--clr-bg-1);

  /* padding: 1rem; */
  transition: all 0.3s ease;
}

.logoContainer {
  display: flex;
  width: 50%;
  min-width: var(--logo-size);
  justify-content: center;
  align-items: center;
}

.footerMobile {
  background-color: transparent;
}

.footerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footerMobile .footerWrapper {
  justify-content: end;
}

.footerLogoMobile {
  justify-content: end;
}
